<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel='stylesheet' href='/assets/css/style.css'>
    </head>
    <body>
        <div class="container">
            {{> header}}
            <div class="content vacancies">
                {{> search}}
                {{> categories}}
                <div class="vacancies__main">
                    {{> filters}}
                    <ul class="list">
                        {{#each vacancies}}
                            <li class="list__item">
                                <div class="list__line">
                                    <div class="list__column">
                                        <div class="list__name">{{this.name}}</div>
                                        <div class="list__town">{{this.town}}</div>
                                    </div>
                                    <div class="list__salary">{{this.salary}} руб.</div>
                                </div>
                                <div class="list__text">{{this.text}}</div>
                                <div class="list__line">
                                    <div class="list__column">
                                        <a href="tel:{{this.phone}}" class="list__phone">{{this.phone}}</a>
                                        <a href="mailto:{{this.email}}" class="list__email">{{this.email}}</a>
                                    </div>
                                    <div class="list__column">
                                        <div class="list__category">{{this.category}}</div>
                                        <div class="list__date">{{this.date}}</div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <form class="form" action="/vacancies/add" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form__title">Не нашли то, что искали?<br>Добавьте свою вакансию</div>
                    {{> form}}
                </form>
            </div>
            {{> footer}}
        </div>
    </body>
</html>